## make new columns

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([])

In [3]:
df.assign?

Signature: df.assign(**kwargs) -> 'DataFrame'
Docstring:
Assign new columns to a DataFrame.

Returns a new object with all original columns in addition to new ones.
Existing columns that are re-assigned will be overwritten.

Parameters
----------
**kwargs : dict of {str: callable or Series}
    The column names are keywords. If the values are
    callable, they are computed on the DataFrame and
    assigned to the new columns. The callable must not
    change input DataFrame (though pandas doesn't check it).
    If the values are not callable, (e.g. a Series, scalar, or array),
    they are simply assigned.

Returns
-------
DataFrame
    A new DataFrame with the new columns in addition to
    all the existing columns.

Notes
-----
Assigning multiple columns within the same ``assign`` is possible.
Later items in '\*\*kwargs' may refer to newly created or modified
columns in 'df'; items are computed and assigned into 'df' in order.

.. versionchanged:: 0.23.0

   Keyword argument order is maintained.

Examples
--------
>>> df = pd.DataFrame({'temp_c': [17.0, 25.0]},
...                   index=['Portland', 'Berkeley'])
>>> df
          temp_c
Portland    17.0
Berkeley    25.0

Where the value is a callable, evaluated on `df`:

>>> df.assign(temp_f=lambda x: x.temp_c * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

Alternatively, the same behavior can be achieved by directly
referencing an existing Series or sequence:

>>> df.assign(temp_f=df['temp_c'] * 9 / 5 + 32)
          temp_c  temp_f
Portland    17.0    62.6
Berkeley    25.0    77.0

You can create multiple columns within the same assign where one
of the columns depends on another one defined within the same assign:

>>> df.assign(temp_f=lambda x: x['temp_c'] * 9 / 5 + 32,
...           temp_k=lambda x: (x['temp_f'] +  459.67) * 5 / 9)
          temp_c  temp_f  temp_k
Portland    17.0    62.6  290.15
Berkeley    25.0    77.0  298.15
File:      ~/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py
Type:      method

In [7]:
import numpy as np
df = pd.DataFrame({'A' : range(1,11), 'B' : np.random.randn(10)})
df

    A         B
0   1 -0.872682
1   2  0.274495
2   3 -0.942743
3   4  0.187626
4   5  0.800405
5   6  0.402906
6   7  0.468942
7   8  0.420222
8   9 -1.066689
9  10 -0.056426

In [11]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1 -0.872682  0.000000
1  2  0.274495  0.693147
2  3 -0.942743  1.098612
3  4  0.187626  1.386294
4  5  0.800405  1.609438

In [12]:
df["ln_A"] = np.log(df.A)
df

    A         B      ln_A
0   1 -0.872682  0.000000
1   2  0.274495  0.693147
2   3 -0.942743  1.098612
3   4  0.187626  1.386294
4   5  0.800405  1.609438
5   6  0.402906  1.791759
6   7  0.468942  1.945910
7   8  0.420222  2.079442
8   9 -1.066689  2.197225
9  10 -0.056426  2.302585

    A         B      ln_A
0   1 -0.872682  0.000000
1   2  0.274495  0.693147
2   3 -0.942743  1.098612
3   4  0.187626  1.386294
4   5  0.800405  1.609438
5   6  0.402906  1.791759
6   7  0.468942  1.945910
7   8  0.420222  2.079442
8   9 -1.066689  2.197225
9  10 -0.056426  2.302585

## PD qcut 
### n개의 bucket만큼 빈 컬럼을 만들어준다

In [15]:
pd.qcut?

Signature: pd.qcut(x, q, labels=None, retbins:bool=False, precision:int=3, duplicates:str='raise')
Docstring:
Quantile-based discretization function.

Discretize variable into equal-sized buckets based on rank or based
on sample quantiles. For example 1000 values for 10 quantiles would
produce a Categorical object indicating quantile membership for each data point.

Parameters
----------
x : 1d ndarray or Series
q : int or list-like of int
    Number of quantiles. 10 for deciles, 4 for quartiles, etc. Alternately
    array of quantiles, e.g. [0, .25, .5, .75, 1.] for quartiles.
labels : array or False, default None
    Used as labels for the resulting bins. Must be of the same length as
    the resulting bins. If False, return only integer indicators of the
    bins. If True, raises an error.
retbins : bool, optional
    Whether to return the (bins, labels) or not. Can be useful if bins
    is given as a scalar.
precision : int, optional
    The precision at which to store and display the bins labels.
duplicates : {default 'raise', 'drop'}, optional
    If bin edges are not unique, raise ValueError or drop non-uniques.

Returns
-------
out : Categorical or Series or array of integers if labels is False
    The return type (Categorical or Series) depends on the input: a Series
    of type category if input is a Series else Categorical. Bins are
    represented as categories when categorical data is returned.
bins : ndarray of floats
    Returned only if `retbins` is True.

Notes
-----
Out of bounds values will be NA in the resulting Categorical object

Examples
--------
>>> pd.qcut(range(5), 4)
... # doctest: +ELLIPSIS
[(-0.001, 1.0], (-0.001, 1.0], (1.0, 2.0], (2.0, 3.0], (3.0, 4.0]]
Categories (4, interval[float64]): [(-0.001, 1.0] < (1.0, 2.0] ...

>>> pd.qcut(range(5), 3, labels=["good", "medium", "bad"])
... # doctest: +SKIP
[good, good, medium, bad, bad]
Categories (3, object): [good < medium < bad]

>>> pd.qcut(range(5), 4, labels=False)
array([0, 0, 1, 2, 3])
File:      ~/anaconda3/lib/python3.6/site-packages/pandas/core/reshape/tile.py
Type:      function

In [22]:
pd.qcut(df.A, 3, labels=["good", "medium", "bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [24]:
df.max(axis=0) # df.max(axis=1) : 열중에서 가장 큰 값 가져온다

A       10.000000
B        0.800405
ln_A     2.302585
dtype: float64

In [27]:
df["B"].abs()

0    0.872682
1    0.274495
2    0.942743
3    0.187626
4    0.800405
5    0.402906
6    0.468942
7    0.420222
8    1.066689
9    0.056426
Name: B, dtype: float64